@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
p {
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
ul{
	margin: 0px;
	padding: 0px;
}
li{
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}
img {border:0}
caption {
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-align: left;
	background-color: #CCCCCC;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	letter-spacing: 1px;
	width: 100%;
}
.pages_style {
	width: 980px;
	background-image: url(../img/bg03.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.pages_style2 {
	width: 980px;
	background-image: url(../img/bg08.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.bg_style1 {
	width: 980px;
	background-image: url(../img/bg_left01.gif);
	background-repeat: repeat-y;
	background-position: 20px top;
}
.bg_style2 {
	width: 980px;
	background-image: url(../img/bg_left02.gif);
	background-repeat: repeat-y;
	background-position: 20px top;
}
.bg_style3 {
	width: 980px;
	background-image: url(../img/bg_left03.gif);
	background-repeat: repeat-y;
	background-position: 20px top;
}
.bg_style4 {
	width: 980px;
	background-image: url(../img/bg_left04.gif);
	background-repeat: repeat-y;
	background-position: 20px top;
}
.bg_style5 {
	width: 980px;
	background-image: url(../img/bg_left05.gif);
	background-repeat: repeat-y;
	background-position: 20px top;
}
.bg_style6 {
	width: 980px;
	background-image: url(../img/bg_left06.gif);
	background-repeat: repeat-y;
	background-position: 20px top;
}
.top_style_bg {
	height: 180px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-image: url(../img/tree_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #FFFFFF;
}
.top_news_text {
	font-family: "微軟正黑體";
	font-size: 14px;
	line-height: 22px;
	color: #666666;
	text-decoration: none;
	height: 80px;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-left: 20px;
}
.main_show_bg {
	background-image: url(../img/line_bg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.main_show_bg2 {
	height: 500px;
	padding: 0px;
	margin: 0px;
}
.main_show_right {
	width: 765px;
	padding: 0px;
	margin: 0px;
}
.main_show_space {
	width: 20px;
	margin: 0px;
	padding: 0px;
}
.main_show_left {
	width: 155px;
	padding: 0px;
	margin: 0px;
}
.bottom_style_bg {
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
}

.text01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
}
.text02 {
	font-family: "微軟正黑體";
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
}
.text03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
}
.text04 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
.text05 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
}
.text06 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
}
.text07 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #C3D600;
	text-decoration: none;
	text-align: right;
	position: relative;
	margin: 0px;
	padding: 0px;
	float: right;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
.link08_1 {
	color: #c3d600;
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 60px;
	background-image: url(../img/tittle01.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 36px;
}
.link08_4 {
	color: #FFCC00;
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 60px;
	background-image: url(../img/tittle04.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 36px;
}
.link08_5 {
	color: #CC3300;
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 60px;
	background-image: url(../img/tittle05.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 36px;
}
.link01 {
	color: #333333;
	text-decoration: none;
}
.link01:hover {
	color: #c3d600;
}
.link02 {
	color: #333333;
	text-decoration: none;
}
.link02:hover {
	color: #00a0ea;
}
.link03 {
	color: #333333;
	text-decoration: none;
}
.link03:hover {
	color: #f39801;
}
.link04 {
	color: #333333;
	text-decoration: none;
}
.link04:hover {
	color: #fce76a;
}
.link05 {
	color: #333333;
	text-decoration: none;
}
.link05:hover {
	color: #d50036;
}
.link06 {
	color: #333333;
	text-decoration: none;
}

.link06:hover {
	color: #a9007d;
}
.link07 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.link07:hover {
	color: #FFFF66;
}
.link01_h {
	color: #c3d600;
	text-decoration: none;
}
.link02_h {
	color: #00a0ea;
	text-decoration: none;
}
.link03_h {
	color: #f39801;
	text-decoration: none;
}
.link04_h {
	color: #FFCC00;
	text-decoration: none;
}
.link05_h {
	color: #d50036;
	text-decoration: none;
}
.link06_h {
	color: #a9007d;
	text-decoration: none;
}
.news_list01 {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
	margin: 0px;
	padding: 2px;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
	background-image: url(../img/icon0305.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.news_list01:hover {
	background-color: #FFFFCC;
	color: #7C8A00;
}
#topmenu{
	width: 773px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666666;
	height: 25px;
	padding: 0px;
	margin-bottom: 5px;
	margin-left: 195px;
}


#topmenu ul{
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}
#topmenu li{
	float: left;
	width: 109px;
	color: #333333;
	text-decoration: none;
	font-family: "微軟正黑體";
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666666;
	text-align: center;
	letter-spacing: 2px;
	font-size: 16px;
	line-height: 25px;
	height: 25px;
	margin: 0px;
	padding: 0px;
}
#leftmenu{
	width: 135px;
}
#leftmenu ul{
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 135px;
}
#leftmenu li{
	font-family: "微軟正黑體";
	font-size: 12px;
	line-height: 20px;
	color: #CCCCCC;
	width: 135px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	text-indent: 25px;
	height: 22px;
}
#leftmenu li a{
	background-image: url(../img/leftmenu_bg2.jpg);
	background-repeat: no-repeat;
	background-position: center -8px;
	color: #FFFFFF;
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 12px;
	line-height: 22px;
	margin: 0px;
	padding: 0px;
	height: 22px;
	width: 135px;
	float: left;
}
#leftmenu li a:hover{
	background-image: url(../img/leftmenu_bg2.jpg);
	background-repeat: no-repeat;
	background-position: center -30px;
}
.leftmenu_style{
	background-image: url(../img/bg07_3.jpg);
	width: 135px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.left_menu_style_top{
	background-image: url(../img/leftmenu_bg2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 8px;
	width: 135px;
}
.left_menu_style_bottom{
	background-image: url(../img/leftmenu_bg2.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 8px;
	width: 135px;
}
#left_bottom_menu{
	width: 155px;
}
#left_bottom_menu ul{
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 155px;
}
#left_bottom_menu li{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: #CCCCCC;
	width: 155px;
	padding: 0px;
	text-align: center;
	height: 30px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#left_bottom_menu li a{
	color: #333333;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin: 0px;
	padding: 0px;
	height: 28px;
	width: 153px;
	float: left;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #999999;
}
#left_bottom_menu li a:hover{
	color: #00A0E9;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #333333;
}

.table001 {
	background-color: #FFFFFF;
	height: 230px;
	background-image: url(../img/bg06.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	width: 370px;
	padding: 0px;
	margin: 5px;
}
.table002 {
	height: 200px;
	background-image: url(../img/bg05.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	width: 350px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	margin: 0px;
}
.table003 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	text-align: justify;
	padding: 10px;
	border: 1px solid #999999;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #FFFFFF;
}
.table004 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	text-align: justify;
	text-indent: 24px;
	padding: 10px;
	border: 1px solid #999999;
	background-color: #FFFFFF;
	margin: 0px;
}
.table005 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	padding: 10px;
	border: 1px solid #999999;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #FFFFFF;
}
#leftmenu1{
	width: 135px;
}
#leftmenu1 ul{
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 135px;
}
#leftmenu1 li{
	font-family: "微軟正黑體";
	font-size: 12px;
	line-height: 20px;
	color: #CCCCCC;
	width: 135px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	text-indent: 25px;
	height: 22px;
}
#leftmenu1 li a{
	background-image: url(../img/leftmenu_bg1.jpg);
	background-repeat: no-repeat;
	background-position: center -8px;
	color: #FFFFFF;
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 12px;
	line-height: 22px;
	margin: 0px;
	padding: 0px;
	height: 22px;
	width: 135px;
	float: left;
}
#leftmenu1 li a:hover{
	background-image: url(../img/leftmenu_bg1.jpg);
	background-repeat: no-repeat;
	background-position: center -30px;
}
.leftmenu_style1{
	background-image: url(../img/bg07_2.jpg);
	width: 135px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.left_menu_style1_top{
	background-image: url(../img/leftmenu_bg1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 8px;
	width: 135px;
}
.left_menu_style1_bottom{
	background-image: url(../img/leftmenu_bg1.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 8px;
	width: 135px;
}

#leftmenu3{
	width: 135px;
}
#leftmenu3 ul{
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 135px;
}
#leftmenu3 li{
	font-family: "微軟正黑體";
	font-size: 12px;
	line-height: 20px;
	color: #CCCCCC;
	width: 135px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	text-indent: 25px;
	height: 22px;
}
#leftmenu3 li a{
	background-image: url(../img/leftmenu_bg3.jpg);
	background-repeat: no-repeat;
	background-position: center -8px;
	color: #FFFFFF;
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 12px;
	line-height: 22px;
	margin: 0px;
	padding: 0px;
	height: 22px;
	width: 135px;
	float: left;
}
#leftmenu3 li a:hover{
	background-image: url(../img/leftmenu_bg3.jpg);
	background-repeat: no-repeat;
	background-position: center -30px;
}
.leftmenu_style3{
	background-image: url(../img/bg07_4.jpg);
	width: 135px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.left_menu_style3_top{
	background-image: url(../img/leftmenu_bg3.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 8px;
	width: 135px;
}
.left_menu_style3_bottom{
	background-image: url(../img/leftmenu_bg3.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 8px;
	width: 135px;
}
#leftmenu6{
	width: 135px;
}
#leftmenu6 ul{
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 135px;
}
#leftmenu6 li{
	font-family: "微軟正黑體";
	font-size: 12px;
	line-height: 20px;
	color: #CCCCCC;
	width: 135px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	text-indent: 25px;
	height: 22px;
}
#leftmenu6 li a{
	background-image: url(../img/leftmenu_bg6.jpg);
	background-repeat: no-repeat;
	background-position: center -8px;
	color: #FFFFFF;
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 12px;
	line-height: 22px;
	margin: 0px;
	padding: 0px;
	height: 22px;
	width: 135px;
	float: left;
}
#leftmenu6 li a:hover{
	background-image: url(../img/leftmenu_bg6.jpg);
	background-repeat: no-repeat;
	background-position: center -30px;
}
.leftmenu_style6{
	background-image: url(../img/bg07_6.jpg);
	width: 135px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.left_menu_style6_top{
	background-image: url(../img/leftmenu_bg6.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 8px;
	width: 135px;
}
.left_menu_style6_bottom{
	background-image: url(../img/leftmenu_bg6.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 8px;
	width: 135px;
}
#leftmenu5{
	width: 135px;
}
#leftmenu5 ul{
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 135px;
}
#leftmenu5 li{
	font-family: "微軟正黑體";
	font-size: 12px;
	line-height: 20px;
	color: #CCCCCC;
	width: 135px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	text-indent: 25px;
	height: 22px;
}
#leftmenu5 li a{
	background-image: url(../img/leftmenu_bg5.jpg);
	background-repeat: no-repeat;
	background-position: center -8px;
	color: #FFFFFF;
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 12px;
	line-height: 22px;
	margin: 0px;
	padding: 0px;
	height: 22px;
	width: 135px;
	float: left;
}
#leftmenu5 li a:hover{
	background-image: url(../img/leftmenu_bg5.jpg);
	background-repeat: no-repeat;
	background-position: center -30px;
}
.leftmenu_style5{
	background-image: url(../img/bg07_5.jpg);
	width: 135px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.left_menu_style5_top{
	background-image: url(../img/leftmenu_bg5.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 8px;
	width: 135px;
}
.left_menu_style5_bottom{
	background-image: url(../img/leftmenu_bg5.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 8px;
	width: 135px;
}
#leftmenu4{
	width: 135px;
}
#leftmenu4 ul{
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 135px;
}
#leftmenu4 li{
	font-family: "微軟正黑體";
	font-size: 12px;
	line-height: 20px;
	color: #CCCCCC;
	width: 135px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	text-indent: 25px;
	height: 22px;
}
#leftmenu4 li a{
	background-image: url(../img/leftmenu_bg4.jpg);
	background-repeat: no-repeat;
	background-position: center -8px;
	color: #333333;
	text-decoration: none;
	font-family: "微軟正黑體";
	font-size: 12px;
	line-height: 22px;
	margin: 0px;
	padding: 0px;
	height: 22px;
	width: 135px;
	float: left;
}
#leftmenu4 li a:hover{
	background-image: url(../img/leftmenu_bg4.jpg);
	background-repeat: no-repeat;
	background-position: center -30px;
	color: #FFFFFF;
}
.leftmenu_style4{
	background-image: url(../img/bg07_7.jpg);
	width: 135px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.left_menu_style4_top{
	background-image: url(../img/leftmenu_bg4.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 8px;
	width: 135px;
}
.left_menu_style4_bottom{
	background-image: url(../img/leftmenu_bg4.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 8px;
	width: 135px;
}
