<!DOCTYPE html PUBLIC "-//W3C//Dth XHTML 1.0 transitional//EN" "http://www.w3.org/tr/xhtml1/Dth/xhtml1-transitional.dth">
<html xmlns="http://www.w3.org/1999/xhtml"  lang="zh-TW">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name= " Accessible_website " content= " 本網站通過第(1|2|3)優先等級無障礙網頁檢測 "  >
<title>朝陽科技大學通識教育中心</title>
<link rel="shortcut icon" href="img/favicon.ico">
<script type="text/javascript" src="js/curvycorners.src.js"> </script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body><center>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="bg_style6"   summary="排版用表格">
    <tr>
      <th><table border="0" cellpadding="0" cellspacing="0" class="pages_style"  summary="排版用表格">
        <tr>
          <th valign="bottom" class="top_style_bg"><table width="100%" border="0" cellspacing="0" cellpadding="0" summary="排版用表格">
            <tr>
              <th><div align="right" class="top_news_text"><img src="img/logotype01.gif" width="438" height="60" alt="朝陽科技大學通識教育中心 Chaoyang University of Technology Center for General Education"/><br />
             <span class="link06_h"><{$other.0.context}></span></div></th>
            </tr>
            <tr>
              <th align="right" valign="bottom">
                              <div id="topmenu">
                  <ul>
                    <li ><a href="<{$bmeun.0.b_link}>" class="link01" title="<{$bmeun.0.b_item}>"><{$bmeun.0.b_item}></a></li>
                    <li ><a href="<{$bmeun.1.b_link}>" class="link01" title="<{$bmeun.1.b_item}>"><{$bmeun.1.b_item}></a></li>
                    <li ><a href="<{$bmeun.2.b_link}>" class="link02" title="<{$bmeun.2.b_item}>"><{$bmeun.2.b_item}></a></li>
                    <li ><a href="<{$bmeun.3.b_link}>" class="link03" title="<{$bmeun.3.b_item}>"><{$bmeun.3.b_item}></a></li>
                    <li ><a href="<{$bmeun.4.b_link}>" class="link04" title="<{$bmeun.4.b_item}>"><{$bmeun.4.b_item}></a></li>
                    <li ><a href="<{$bmeun.5.b_link}>" class="link05" title="<{$bmeun.5.b_item}>"><{$bmeun.5.b_item}></a></li>
                    <li ><a href="<{$bmeun.6.b_link}>" class="link06_h" title="<{$bmeun.6.b_item}>"><{$bmeun.6.b_item}></a></li>
                  </ul>
                </div>
              </th>
            </tr>
          </table></th>
        </tr>
        <tr>
          <th class="main_show_bg"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="main_show_bg2"  summary="排版用表格">
            <tr>
              <th rowspan="2" align="center" valign="top" class="main_show_space">&nbsp;</th>
              <th align="center" valign="top" class="main_show_left"><table border="0" cellpadding="0" cellspacing="0" class="leftmenu_style6"  summary="排版用表格">
                <tr>
                  <th class="left_menu_style6_top"></th>
                </tr>
                <tr>
                  <th id="leftmenu6"><ul>
 <{foreach from=$m_meun1 key=key item=dbrow name=abc }>
                      <li><a href="<{$dbrow.m_link}>?num=<{$dbrow.m_meun_id}>" title="<{$dbrow.m_item}>"><{$dbrow.m_item}></a></li>
                  <{/foreach}>
                  </ul></th>
                </tr>
                <tr>
                  <th class="left_menu_style6_bottom"></th>
                </tr>
              </table>
                </th>
              <th rowspan="2" align="left" valign="top" class="main_show_space">&nbsp;</th>
              <th rowspan="2" align="left" valign="top" class="main_show_right"><table width="100%" border="0" cellpadding="0" cellspacing="0" summary="活動花絮">
                <caption>
                  <{$text.title}>
                  </caption>
                <tr>
                  <th width="50%" align="left" valign="top"><div class="table003"> 
                    <p><{$text.context}></p>
                    </div>
                    <p>&nbsp;</p>                    </th>
                  </tr>
                
              </table></th>
              <th rowspan="2" align="left" valign="top" class="main_show_space">&nbsp;</th>
            </tr>
            <tr>
              <th align="center" valign="bottom" class="main_show_left"><table  border="0" cellpadding="0" cellspacing="0" class="ad_style" summary="排版用表格">
                <tr>
                  <th id="left_bottom_menu"><ul>
                    <li><a href="http://www.cyut.edu.tw" tittle="朝陽科技大學"><img src="img/cyut_logo.gif" alt="朝陽科技大學"/></a></li>
                    <li><a href="#" class="link07" tittle="English">English</a></li>
                  </ul></th>
                </tr>
              </table></th>
            </tr>
            
          </table></th>
        </tr>
        <tr>
          <th class="bottom_style_bg"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="bottom_bg" summary="排版用表格" widtr="100%">
              <tr>
                <th align="center" valign="middle"><a href="http://www.webguide.nat.gov.tw/enable/Servlet1?inputURL=http%3A%2F%2Fwww.lovgo.com.tw%2Ftest%2Fmember.php&amp;analyzingGrade=P3&amp;isOnlyText=yes" target="_blank"  title= " 無障礙網站 " ><img src="img/aaa.jpg" alt= " (網站通過檢測的範圍)通過第(1|2|3)優先等級無障礙網頁檢測 " widtr="88" height="31" border="0" /></a></th>
                <th align="right" valign="middle" class="text01"><{$other.1.context}></th>
              </tr>
          </table></th>
        </tr>
      </table></th>
    </tr>
  </table>
  </center></body>
</html>
