<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-TW">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
 <link href="css/style.css" rel="stylesheet" type="text/css" />
<meta name= " Accessible_website " content= " 本網站通過第(1|2|3)優先等級無障礙網頁檢測 "  >
<title>朝陽科技大學通識教育中心</title>

</head>

<body>
<div align="center">
  <table border="0" cellpadding="0" cellspacing="0" summary="排版用表格" style="width:980px">
    <tr>
      <td align="center" valign="middle"><script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','980','height','560','src','swf/welcome','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','swf/welcome' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="980" height="560">
        <param name="movie" value="swf/welcome.swf" />
        <param name="quality" value="high" />
        <embed src="swf/welcome.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="980" height="560"></embed>
      </object></noscript></td>
    </tr>
    <tr>
      <td align="center" valign="middle" class="text01">歡迎來到 朝陽科技大學通識教育中心 [<a href="news.php" class="link01_h">SKIP</a>] 跳過動畫直接進入 [<a href="news.php" class="link02_h">中文版</a>] [<a href="#" class="link02_h">英文版</a>]<br />
      <br /></td>
    </tr>
    <tr>
      <td align="center" valign="middle"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="bottom_bg" summary="排版用表格">
        <tr>
          <td align="center" valign="middle"><a href="http://www.webguide.nat.gov.tw/enable/Servlet1?inputURL=http%3A%2F%2Fwww.lovgo.com.tw%2Ftest%2Fmember.php&amp;analyzingGrade=P3&amp;isOnlyText=yes" target="_blank"  title= " 無障礙網站 " ><img src="img/aaa.jpg" alt= " (網站通過檢測的範圍)通過第(1|2|3)優先等級無障礙網頁檢測 " width="88" height="31" border="0" /></a></td>
          <td align="right" valign="middle" class="text01">朝陽科技大學通識教育中心　臺中縣霧峰鄉吉峰東路168號　TEL:(04)2332-3000轉7246、7247　FAX:(04)2374-2345　E-mail:<a href="mailto:ge@cyut.edu.tw" class="link02_h" title="ge@cyut.edu.tw">ge@cyut.edu.tw</a></td>
        </tr>
      </table></td>
    </tr>
  </table>
</div>
</body>
</html>
